{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            {% for message in messages %}
                    {% if message %}
                        <div class="alert alert-success">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            <form action="/tambah-customer/" method="post">
                {% csrf_token %}
                {{ form.as_p }} <!-- tampikan form sebagai paragraf biar ke bawah (.as_p)-->
                <button class="btn btn-primary">Tambah Customer</button>
                <a href="/customer" class="btn btn-dark">Data Customer</a>
            </form>
        </div>
    </div>
</div>

{% endblock %}